.card {
    /* Size of card */
    min-width: 250px;
    max-width: 30%;

    min-height: 250px;
    max-height: 25%;

    padding: 2rem; /* Reducido para evitar demasiado espacio */
    margin: 1rem;

    min-height: calc();
    max-height: calc();

    /* Style of card */
    border: 0.01rem solid var(--text-color);
    border-radius: 1rem;
    box-shadow: 0px 0.5rem 1.5rem #0c2843;

    border-color: #191970c8;
    background-color: var(--cards-background);

    flex: 1 1 calc(15%); /* Ajusta automáticamente al espacio */
    text-align: center;

}
