:root {
    --primary-color: #240952;
    --dark-primary-color: #330099;
    --platinad-primary-color: #4b0082;
    --background-color: radial-gradient(circle, var(--primary-color), #000000);
    --headers-text-color: #9683ec;
    --head-text-color: #9683ec;
    --footer-background-color: radial-gradient(circle, var(--primary-color), #000000);
    --footer-text-color: #9683ec;
    --cards-background: var(--primary-color);
    --text-color: #ffffff;
    --shadow-color: #0c2843;
    --titles-background-color: #301462;
}

.border-shadow {
    /* All views of styles on rem's */
    border: 0.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0.5rem 1.5rem #0c2843;
}