@import url('colors.css');

.profile-images {

    /* Space image */
    margin: 3rem;
    width: 100%;

    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.github-logo {
    
    /* Space image */
    margin: 1rem 1rem;
    width: 25%;
}

.github-logo-small {
    
    /* Space image */
    margin: 1rem 1rem;
    width: 5%;
}